@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

.content-products{
	width: 300px;
	margin: auto;
	border: 1px solid gray;
	box-shadow: 2px 2px 1px black;
	min-height: 400px;
	max-height: auto;
	border-radius: 5px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.add-products{
	height: 50px;
	width: 300px;
	border: 1px solid gray;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 2px 2px 1px black;
}
.add-products button{
	display: block;
	margin: auto;
	height: 40px;
	width: 250px;
	background: black;
	color: white;
	font-size: 20px;
}
.add-products button:hover{
	border-color: black;
	background-color: white;
	color: black;
	text-decoration: none;
	font-size: 20px;
}
.content-title{
	height: 50px;
	width: 100%;
	padding: 10px;
	text-align: center;
	
}
.content-title h3{
	font-size: 35px;
}
.content-new-products{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	width: 400px;
	margin: auto;
	min-height: 550px;
	max-height: auto;
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: 2px 2px 1px black;
}
.content-form{
	padding: 20px;
}
.element-form{
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 0px black;
}
.element-form label{
	width: 100%;
	font-size: 20px;
	text-align: left;
}
.element-form input{
	width: 100%;
}
.element-form textarea{
	width: 100%;
}
.element-form button{
	display: block;
	margin: auto;
	height: 40px;
	width: 250px;
	background: black;
	color: white;
	font-size: 20px;	
}
.element-form button:hover{
	border-color: black;
	background-color: white;
	color: black;
	text-decoration: none;
	font-size: 20px;
}
.content-product-lots{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	width: 400px;
	margin: auto;
	min-height: 550px;
	max-height: auto;
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: 2px 2px 1px black;	
}